<div *ngIf="this.lessonPage" class="article">
  <h1>{{ this.lessonPage.title }}</h1>
  <hr />
  <p>{{ this.lessonPage.content }}</p>
  <example-sentence
    *ngFor="let example of this.examples"
    [exampleSentence]="example"
  ></example-sentence>
</div>
