.article {
  margin: 1% 20% 5% 20%;
  padding: 1em 3em 1em 3em;
  background: #fafafa;
  border-radius: 3em;
}

.article > h1 {
  font-family: "Roboto";
}

.article > p {
  font-family: "Open Sans";
}
