.navbar-flex {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0;
  width: 100%;
  background-color: #f8f8f8;
  border-bottom: 2px solid #e0e0e0;
}

.navbar-flex > * {
  margin: 1em;
  padding: 1.5em;
  display: block;
}

.navbar-item {
  font-family: "Roboto";
  background-color: #f0f0f0;
  border-radius: 1em;
  cursor: pointer;
}

.navbar-item:hover {
  background-color: #e5e5e5;
}

.bunpou {
  font-family: "Kaisei Tokumin";
  background-color: #cc3333;
  color: #f0f0f0;
  border-radius: 1em;
  font-weight: 700;
}

.bunpou::after {
  border-style: solid;
  border-color: #000000;
  height: 2em;
}

.about:last-of-type {
  margin-left: auto;
  margin-right: 5em;
}
