<div class="navbar-flex">
  <p class="bunpou">文法勉強</p>
  <p class="navbar-item" routerLink="/lessons">Lessons</p>
  <p class="navbar-item">Practice</p>
  <p class="navbar-item about" style="float: right">About</p>
</div>
