<div class="grammar-box" *ngIf="this.lessonType">
  <h3 href="https://www.google.com">{{ this.lessonType.japaneseStructure }}</h3>
  <p *ngIf="this.lessonType.jlpt">{{ this.lessonType.jlpt }}</p>
  <hr />
  <p>{{ this.lessonType.englishStructure }}</p>
  <a routerLink="/lesson/{{ this.lessonType.id }}"
    ><span class="link"></span
  ></a>
</div>
