.grammar-box {
  position: relative;
  margin-bottom: 2em;
  width: 15em;
  background-color: #eee;
  border-style: solid;
  border-width: 1px;
  border-color: #aaa;
  border-radius: 1em;
  overflow: hidden;
  max-height: 20em;
  padding: 0.25em 2em 1em 2em;
  filter: drop-shadow(rgba(19, 20, 27, 0.5) 2px 2px 3px);
  display: block;
}

h2 {
  font-family: "Roboto";
}

p {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
}

.link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  z-index: 1;
}
