.exampleHolder {
  background-color: #e0e0e0;
  max-width: 30em;
  padding: 0.5em 1.4em 0.5em;
  margin: 1em;
  border-radius: 20px;
  filter: drop-shadow(rgba(40, 3, 3, 0.5) 3px 1px 1px);
}

.exampleHolder > hr {
  width: 40%;
  margin-left: 0;
}

.exampleHolder > .english {
  font-family: "Open Sans";
}
